<%if(typeof errors != 'undefined'){%>
<%errors.forEach(function(error) {%>
<div class="alert alert-danger">
    <%=error.msg%>
    <button class="close" data-dismiss="alert"><span>&times;</span></button>
</div>
<%})%>
<%}%>